# =============================================
# ALGORAND -- Localnet (AlgorKit)
# =============================================
ALGOD_SERVER=http://localhost
ALGOD_PORT=4001
ALGOD_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
INDEXER_SERVER=http://localhost
INDEXER_PORT=8980
INDEXER_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# =============================================
# SMART CONTRACT ALGORAND
# =============================================
# S'assigna automaticament en desplegar el SC
APP_ID=

# =============================================
# ETHEREUM -- Sepolia Testnet
# =============================================
ETHEREUM_RPC_URL=https://sepolia.infura.io/v3/YOUR_INFURA_KEY
NOTARY_CONTRACT_ADDRESS=
# Clau privada del node per a l'anchoring -- mai comites!
ANCHORING_PRIVATE_KEY=

# =============================================
# FRONTEND
# =============================================
VITE_ALGOD_SERVER=http://localhost
VITE_ALGOD_PORT=4001
VITE_APP_ID=
VITE_WALLETCONNECT_PROJECT_ID=YOUR_WALLETCONNECT_PROJECT_ID
