# =============================================
# ALGORAND -- Localnet (AlgoKit)
# =============================================
ALGOD_SERVER=http://localhost
ALGOD_PORT=4001
ALGOD_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# =============================================
# SMART CONTRACT ALGORAND
# =============================================
APP_ID=

# =============================================
# UNIVERSITAT DE LES ILLES BALEARS (UIB)
# =============================================
UIB_ALGO_MNEMONIC=

# =============================================
# UNIVERSITAT POLITECNICA DE CATALUNYA (UPC)
# =============================================
UPC_ALGO_MNEMONIC=

# =============================================
# UNIVERSITAT AUTONOMA DE BARCELONA (UAB)
# =============================================
UAB_ALGO_MNEMONIC=
