# =============================================
# ALGORAND -- Localnet (AlgoKit)
# =============================================
ALGOD_SERVER=http://localhost
ALGOD_PORT=4001
ALGOD_TOKEN=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

# =============================================
# SMART CONTRACT ALGORAND
# =============================================
APP_ID=

# =============================================
# ETHEREUM (Hardhat localnet o Sepolia)
# =============================================
ETHEREUM_RPC_URL=http://localhost:8545
NOTARY_CONTRACT_ADDRESS=

# =============================================
# UNIVERSITAT DE LES ILLES BALEARS (UIB)
# =============================================
UIB_ALGO_MNEMONIC=
UIB_ETH_PRIVATE_KEY=

# =============================================
# UNIVERSITAT POLITECNICA DE CATALUNYA (UPC)
# =============================================
UPC_ALGO_MNEMONIC=
UPC_ETH_PRIVATE_KEY=

# =============================================
# UNIVERSITAT AUTONOMA DE BARCELONA (UAB)
# =============================================
UAB_ALGO_MNEMONIC=
UAB_ETH_PRIVATE_KEY=
